@font-face{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;700&display=swap');
}


:root {
    --teal: #2D6161;
    --blue: #9DB6B5;
    --lpink: #FFD4C1;
    --pink: #F28482;
    --yellow: #F6BD60;
    --charcoal: #1a1a1a; 
    --darkgrey: #8F8F8F;
      
}

* { 
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
    color: #444444;
}

html, 
body {
    height:100%;
    width:100%;
    font-size: 20px;
    
}

/* Typography */
H1 {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;

}

H2 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
}

H3 {
    font-family:'Roboto', sans-serif;
    font-size: 50px;
    font-weight:700;
    text-transform: uppercase;
}

H4 {
    font-family:'Roboto', sans-serif;
    font-size: 45px;
    font-weight:700;
}

H5 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight:500;
    text-transform: uppercase;
}

H6 {
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    font-weight:400;
}

h7 {
    font-family:'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 300;
}

p {
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

p-light {
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
}




/* buttons */

.primary-button {
    font-size: 30px;
    background-color: var(--teal);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 color:white;
   border-radius: 12px;
   padding: 10% 0%;
  text-align: center;
  border: none;
  
}

.secondary-button {
    font-size: 30px;
    border: 1px solid var(--teal);
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   color: var(--teal);
   border-radius: 12px;
   padding: 10% 0%;
  text-align: center;
}


/* Navigation */
header {
    background: white;
   
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;
    align-items: center;
    background: white;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
.nav-item {
    text-decoration: none;
    padding: 16px;
    color: var(--charcoal);
}

/* lines */
.ln {
    border: 2px solid var(--pink);
    
}
.noln-top {
    border-top:none;
}
.noln-left {
    border-left: none;
}
.noln-right {
    border-right: none;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    padding: 5% 10%;
}* 

.header-title {
    grid-area: 1 / 1 / span 1 / span 12;
    padding: 0% 0% 5% 0;
}

/* About Section */ *


.about-section {
    background-color: whitesmoke; 
}

.About-section H1 {color: var(--pink);}

.sub-heading {
    grid-area: auto / 1 / span 1 / span 12;
    margin: 0 0 3% 0;
}

.about-paragraph {
    grid-area: auto / 1 / span 4 / span 9;
    margin: 2% 0 2% 0;
    line-height: 1.5;
    }

.about-paragraph p {
    padding: 0 0 2% 0;
    }


.about-buttons {
    grid-area: auto / 1 / span 1/ span 6;
    margin: 5% 0 0 0;
    }
.about-buttons button {
   margin: 0 5% 0 0;
   
}

.get-in-touch {
    grid-area: 7 / 1 / span 1 / span 3;
   
}

.resume {
    grid-area: 7 / 4 / span 1 / span 2;
} *


/* My Skills Section */
.skill-card-title {
    padding: 0 0 5% 0;
}

.skill-card-text {
    line-height: 1.6;

}

.skill-card-1{
    grid-area: 2 / 1 / span 5 / span 4;
    
}

.skill-card-2{
    grid-area: 2 / 6 / span 5 / span 3;
}

.skill-card-3{
    grid-area: 2 / 10 / span 5 / span 3;
}



/* Tools */

.tools-section {
    background-color: whitesmoke;
}

.ux-tools {
    grid-area: 2 / 1 / span 3 / span 4;
}

.ui-tools{
    grid-area: 2 / 6 / span 3 / span 4;
}

.tools-title{ 
    padding: 0 0 5% 0;
}


/* Random Facts */

.randomFactsTitle {
    
    grid-area: 1 / 1 / span 1 / span 12;
 }

 .randomFactsintro {
     grid-column: span 12;
     /* grid-area: 2 / 1 / span 1 / span 12; */
     padding: 0 0 2% 0;

 }
 .randomFactsintro2 {
     grid-column: span 12;
    /* grid-area: 4 / 1 / span 1 / span 12; */
}

.randomFacts-list1 {
grid-column: span 6;
}


.footer{
    background-color:var(--teal);
    padding: 2% 10%;
    color: white;
}

.footer h4 {
    grid-area: 1 / 1 / span 1 / span 4; 
    color: white;
}
.footer p-light {
    grid-area: 2 / 1 / span 1 / span 4;
    color: white;
    
}

.footer p {
    grid-area: 3 / 1 / span 1 / span 3;
    color: white;
    padding: 20% 0;
}

.footer-Linkedin {
    grid-area: 4 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-Behance {
    grid-area: 4 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer ul {
    list-style: none;
    line-height: 3;
    font-size: 30px;
    grid-area: 2 / 9 / span 4 / span 2;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    
}

