@font-face{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;700&display=swap');
}


:root {
    --teal: #2D6161;
    --blue: #9DB6B5;
    --lpink: #FFD4C1;
    --pink: #F28482;
    --yellow: #F6BD60;
    --charcoal: #1a1a1a; 
      
}

* { 
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
    color: #444444;
}

html, 
body {
    height:100%;
    width:100%;
    font-size: 20px;
    
}

/* Typography */
H1 {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;

}

H2 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
}

H3 {
    font-family:'Roboto', sans-serif;
    font-size: 50px;
    font-weight:700;
    text-transform: uppercase;
}

H4 {
    font-family:'Roboto', sans-serif;
    font-size: 45px;
    font-weight:700;
}

H5 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight:500;
    text-transform: uppercase;
}

H6 {
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    font-weight:400;
}

p {
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

h7 {
    font-family:'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 300;
}


/* buttons */

.primary-button {
    font-size: 30px;
    background-color: var(--teal);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
   color:white;
   border-radius: 12px;
  text-align: center;
}

.secondary-button {
    width: 240;
    height: 87;
    font-size: 30px;
    border: 1px solid var(--teal);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   color: var(--teal);
   border-radius: 12px;
  text-align: center;
}


/* Navigation */
header {
    background: white;
    /* position: sticky;
    top: 0;
  */
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;
    align-items: center;
    background: white;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
.nav-item {
    text-decoration: none;
    padding: 16px;
    color: var(--charcoal);
}

/* lines */
.ln {
    border: 2px solid var(--pink);
    
}
.noln-top {
    border-top:none;
}
.noln-left {
    border-left: none;
}
.noln-right {
    border-right: none;
}


/* hero section - Home Page*/
.main-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    padding: 5% 10%;
}

.hero-section {
    background-color: whitesmoke;
}

.header-title {
    grid-area: 1 / 1 / span 1 / span 12;
    padding: 0% 0% 5% 0;
    
}

.header-subtitle {
    grid-area: 2 / 1 / span 1 / span 6;
    padding: 0% 0% 5% 0%;
}

.header-body-text {
    grid-area: 3 / 1 / span 1 / span 5; 
    padding: 0% 0% 10% 0%;
}

#hero-button {
    padding: 24px 43px;  
    grid-area: 4 / 1 / span 1 / span 2;
       
}

#li-button {
    grid-area: 4 / 3 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#be-button {
    grid-area: 4 / 4 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-Behance {
    grid-area: 4 / 4 /4/ 4;
    padding: 10% 0 0 10%;
}


/* selected work */
.selected-work {
    padding: 5% 10% 0 10%;
}

.case-study-right div {
    background-image: url("../images/SAASredesignthumbnail.jpg");
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    grid-area: 1 / 7 / span 4 / span 6;
}


.case-study-right h5 {
    grid-area: 1 / 1 / span 1 / span 5;
}
.case-study-right h4 {
    grid-area: 2 / 1 / span 1 / span 5;
}
.case-study-right p {
    grid-area: 3 / 1 / span 1 / span 5;
}
.case-study-right button {
    grid-area: 4 / 1 / span 1 / span 2;
}



.case-study-left div {
    background-image: url("../images/SAASredesignthumbnail.jpg");
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    grid-area: 1 / 1 / span 4 / span 6;
}

.case-study-left h5 {
    grid-area: 1 / 8 / span 1 / span 4;
}
.case-study-left h4 {
    grid-area: 2 / 8 / span 1 / span 4;
}
.case-study-left p {
    grid-area: 3 / 8 / span 1 / span 4;
}
.case-study-left button {
    grid-area: 4 / 8 / span 1 / span 2;
}










/* Contact Me */

.contactMe {
    background-color: #F5F5F5;
    padding: 10px 0px 0px 40px;
    
    
}

.contactMeGrid {
    display: grid;
    /* grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr); */
    /* height: auto;
    width: 100%; */
}

.ContactMeBody {
 margin: 40px;
    padding: 0%, 0%; 
    line-height:1.8;
    width: 960px;

}

.footer{
    background-color:var(--teal);
    padding: 20px;
    color: white;
}
.footer H4{
    color: white;
    padding: 10px;
}

.footer p{
    color:white;
}

.footer p light {
    color: white;
}

.footer-items-wrapper{
    position: relative;
}

.footer-item {
    text-decoration: none;
    list-style-type: none;
    padding: 16px;
    color: white;
    justify-content: center;
    align-items: center;
}


/* ABOUT ME PAGE */

/* About Section */


#AboutSectionGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;   
    padding: 5% 10%;
    background-color: whitesmoke;

}

.AboutSection {
    /* margin: 5% 10%; 
    justify-content: space-between; 
    padding: 0, 10%;
    white-space: normal;
    background-color: whitesmoke;  */
    grid-area: 2 / 4 / span 1 / span 3;

}

.AboutTitle {
    grid-area: auto / 1 / span 1 / span 8;
    padding: 10%, 0%, 0%, 0;
}

.AboutTitle H1 {
    color: var(--pink);
}

.AboutSubHeading {
    grid-area: auto / 1 / span 1 / span 11;
    padding: 5% 0 0 0;
}



.AboutParagraph {
    grid-area: auto / 1 / span 4 / span 9;
    margin: 2% 0 2% 0;
    line-height: 1.5;
}

.AboutParagraph-1 {
    padding: 5% 0 5% 0;
}

.aboutButtons {
    grid-area: auto / 1 / span 1/ span 6;
    margin: 5% 0 0 0;
}
.button1 {
   
   margin: 0 2% 0 0;

}

/* My Skills Section */

.MySkillsGrid {
    display:grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: auto;
    padding: 5% 10%;
}

.SkillsTitle {
    grid-area: 1 / 1 / span 1 / span 12;
    padding: 0% 0% 5% 0%;
}
.SkillsCard-deck{
    column-count: 3;
    column-gap: 5%;
}

.SkillCard{
    column-span: 1;
    min-height: 544px;
}
.Skillcard-Title {
    padding: 0 0 5% 0;
}

/* Tools */

.ToolsGrid{
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    /* grid-template-rows: auto; */
    background-color: var(--blue);
    padding: 5% 10%;

}

.ToolsCard-deck{
    column-count: 3;
    column-gap: 10%;
}

.ToolsCard {
    column-span: 1;
}

/* Random Facts */

.randomFacts {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    padding: 5% 10%;
}
.randomFactsTitle {
    
    grid-area: 1 / 1 / span 1 / span 12;
 }

 .randomFactsintro {
     grid-column: span 12;
     /* grid-area: 2 / 1 / span 1 / span 12; */
     padding: 0 0 2% 0;

 }
 .randomFactsintro2 {
     grid-column: span 12;
    /* grid-area: 4 / 1 / span 1 / span 12; */
}

.randomFacts-list1 {
grid-column: span 6;
}
