@font-face{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;700&display=swap');
}

:root {
    --main-padding: 0 12vw;

    --teal: #2D6161;
    --blue: #9DB6B5;
    --lpink: #FFD4C1;
    --pink: #F28482;
    --yellow: #F6BD60;
    --charcoal: #1a1a1a; 
    --darkgrey: #8F8F8F;
}

@media only screen and (max-width: 560px) {
    :root {
       --main-padding: 0 1.5rem;
   }
}

html {
    font-size: 16px;
}

* { 
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
    color: #444444;
}

html, 
body {
    height:100%;
    width:100%;
    
    
}

/* Typography */
H1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;

}

H2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

H3 {
    font-family:'Roboto', sans-serif;
    font-size: 3rem;
    font-weight:700;
    text-transform: uppercase;

}

H4 {
    font-family:'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight:700;
}

H5 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight:500;
    text-transform: uppercase;
}

H5-light {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight:300;
    text-transform: uppercase;
}

H6 {
    font-family:'Roboto', sans-serif;
    font-size: 2rem;
    font-weight:400;
}

h7 {
    font-family:'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
}

p {
    font-family:'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;

}

p-light {
    font-family:'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
}




/* buttons */

.primary-button {
    font-size: 1.25rem;
    background-color: var(--teal);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color:white;
   border-radius: 12px;
   padding: 2% 2%;
  text-align: center;
  border: none;
  transition-duration: 0.4s;
  
}

.primary-button:hover {
    background-color: #4b8a8a;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition-duration: 0.4s;
}

.button:active {
    background-color: #4b8a8a;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  
  }

.secondary-button {
    font-size: 1.25rem;
    border: 1px solid var(--teal);
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   color: var(--teal);
   border-radius: 12px;
   padding: 2% 2%;
  text-align: center;
  transition-duration: 0.4s;
}

.secondary-button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Navigation */
header {
    background: white;
     
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;
    align-items: center;
    background: white;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}
.nav-item {
    text-decoration: none;
    padding: 16px;
    color: var(--charcoal);
    transition-duration: 0.4s;
}

.nav-item:hover {
    border-bottom: 6px solid var(--pink); 
}

.logo-small{
    display: none;
}

#burger-menu {
    display: none;
}
/* lines */
.ln {
    border: 2px solid var(--pink);
    border-top:none;
    border-left: none;
    border-right: none;
}

/* hero section - Home Page*/
.main-grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    padding: 5% 10%;
}

.main-grid-border {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    margin: 5% 10%;
    padding: 2%;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.back-to-top {
    display: none;
    position: fixed;
    font-size: 3rem;
    color: var(--blue);
    background-color: transparent;
    bottom: 100px;
    right: 50px;

}

.hero-section {
    background-color: whitesmoke;
}

.header-title {
    grid-area: 1 / 1 / span 1 / span 12;
    padding: 0% 0% 3% 0;
    
}

.header-subtitle {
    grid-area: 2 / 1 / span 1 / span 6;
    padding: 0% 0% 5% 0%;
}

.header-body-text {
    grid-area: 3 / 1 / span 1 / span 5; 
    padding: 0% 0% 10% 0%;
}

#hero-button {
    padding: 24px 43px;  
    grid-area: 4 / 1 / span 1 / span 2;
       
}

#li-button {
    grid-area: 4 / 3 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#be-button {
    grid-area: 4 / 4 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.header-Behance {
    grid-area: 4 / 4 /4/ 4;
    padding: 10% 0 0 10%;
}


/* selected work */
.selected-work {
    padding: 5% 10% 0 10%;
}

/* Case Study Right (SAAS) */
.case-study-SAAS div {
    background-image: url("../images/SAASredesignthumbnail.jpg");
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    height: 30vh;
    grid-area: 1 / 7 / span 4 / span 6;
}


.case-study-SAAS h5 {
    grid-area: 1 / 1 / span 1 / span 5;
    color: var(--darkgrey);
}
.case-study-SAAS h4 {
    grid-area: 2 / 1 / span 1 / span 5;
}
.case-study-SAAS p {
    grid-area: 3 / 1 / span 1 / span 5;
}
.case-study-SAAS button {
    grid-area: 4 / 1 / span 1 / span 2;
}

/* CaseStudy Left (SeedShare) */

.case-study-left div {
    background-image: url("../images/SeedShareOnboarding.png");
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    height: 30vh;
    grid-area: 1 / 1 / span 4 / span 6;
}

.case-study-left h5 {
    grid-area: 1 / 8 / span 1 / span 4;
    color: var(--darkgrey);

}
.case-study-left h4 {
    grid-area: 2 / 8 / span 1 / span 4;
}
.case-study-left p {
    grid-area: 3 / 8 / span 1 / span 4;
}
.case-study-left button {
    grid-area: 4 / 8 / span 1 / span 2;
}

/* CaseStudy Right (StoryDogs) */
.case-study-Story-Dogs div {
    background-image: url("../images/StoryDogs.png");
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    height: 30vh;
    grid-area: 1 / 7 / span 4 / span 6;
}
.case-study-Story-Dogs h5 {
    grid-area: 1 / 1 / span 1 / span 5;
    color: var(--darkgrey);
}
.case-study-Story-Dogs h4 {
    grid-area: 2 / 1 / span 1 / span 5;
}
.case-study-Story-Dogs p {
    grid-area: 3 / 1 / span 1 / span 5;
}
.case-study-Story-Dogs button {
    grid-area: 4 / 1 / span 1 / span 2;
}


/* Contact Me */


.contact-me {
    background-color:whitesmoke;
}


.contact-me h7 {
    grid-area: 2 / 1 / span 3 / span 9;
    padding: 0 0 5% 0;

}

.contact-me button {
    grid-area: 5 / 1 / span 2 / span 2;
    padding: 10% 10%;
}
   


/* Footer */
.footer{
    background-color:var(--teal);
    padding: 2% 10%;
    color: white;
}

.footer h5 {
    grid-area: 1 / 1 / span 1 / span 4; 
    color: white;
}
.footer h5-light {
    grid-area: 2 / 1 / span 1 / span 4;
    color: white;
    
}

.footer p {
    grid-area: 3 / 1 / span 1 / span 3;
    color: white;
    padding: 10% 0;
}

.footer-Linkedin {
    grid-area: 4 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.footer-Behance {
    grid-area: 4 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.footer ul {
    list-style: none;
    line-height: 3;
    
    grid-area: 2 / 9 / span 4 / span 2;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    
}

@media only screen and (min-width: 1224px) and (max-width: 1524px){
    .header-subtitle {
        grid-area: 2 / 1 / span 1 / span 8;
    }

    .headerbodytext {
        grid-area: 3 / 1 / span 1 /span 7;
    }

    #hero-button {
        grid-area: 4 / 1 / span 1 / span 3;
           
    }
    
    #li-button {
        grid-area: 4 / 4 / span 1 / span 1;
        
    }
    
    #be-button {
        grid-area: 4 / 5 / span 1 / span 1;
    }

    .contact-me h7 {
        grid-area: 2 / 1 / span 3 / span 10;

    }
}

@media only screen and (min-device-width:768px) and (max-device-width: 1224px) {

    H1 {
       font-size: 3.5rem; 

    }

    H2 {
        font-size: 3rem;
    }

    H3 {
        font-size: 2rem;
    }

    H4 {
        font-size: 2rem;
    }

    H5 {
        font-size: 1.5rem;
    }

    H5-light {
        font-size: 1.4rem;
    }

    H6 {

    }

    H7 {
        font-size: 2rem;
    }

    .nav-item {
        display: none;
    }

    #logo {
        display: none;
    }

    .logo-small {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-grid {
        display: grid;
        grid-template-columns: repeat(8,1fr);
    }

    .main-grid-border {
        display: grid;
        grid-template-columns: repeat(8,1fr);
    }

    .header-subtitle {
        grid-area: 2 / 1 / span 1 / span 8;
        line-height: 1.2em;
    }

    .header-body-text {
        grid-area: 3 / 1 / span 1 / span 6;
        line-height: 1.2em;
    }

   
    #li-button {
        font-size: 2rem;
    }

    #be-button {
        font-size: 2rem;
    }

    /* SAAS Card */

    .case-study-SAAS div {
        grid-area: 1 / 1 / span 4 / span 8;
    }

    .case-study-SAAS h5  {
        grid-area: 7 / 1 / span 1 / span 8;
        padding: 2% 0 2% 0;
    }

    .case-study-SAAS h5 {
        grid-area: 7 / 1 / span 1 / span 8;
        padding: 2% 0 2% 0;
    }

    .case-study-SAAS h4 {
        grid-area: 8 / 1 / span 1 / span 8;
        padding: 0 0 2% 0;
    }

    .case-study-SAAS p  {
        grid-area: 9 / 1 / span 1 / span 8;
        padding: 0 0 5% 0;
    }
    .case-study-SAAS button  {
        grid-area: 10 / 1 / span 1 / span 2;      
        }   

    /* SeedShare Card */
    .case-study-left div {
        grid-area: 1 / 1 / span 4 / span 8;
    }

     .case-study-left h5 {
        grid-area: 7 / 1 / span 1 / span 8;
        padding: 2% 0 2% 0;
    }

     .case-study-left h5 {
        grid-area: 7 / 1 / span 1 / span 8;
        padding: 2% 0 2% 0;
    }

    .case-study-left h4 {
        grid-area: 8 / 1 / span 1 / span 8;
        padding: 0 0 2% 0;
    }

    .case-study-left p {
        grid-area: 9 / 1 / span 1 / span 8;
        padding: 0 0 5% 0;
    }
   .case-study-left button {
        grid-area: 10 / 1 / span 1 / span 2;
        
    }
   
        /* StoryDogs Card */
    .case-study-Story-Dogs div{
        grid-area: 1 / 1 / span 4 / span 8;
    }

    .case-study-Story-Dogs h5 {
        grid-area: 7 / 1 / span 1 / span 8;
        padding: 2% 0 2% 0;
    }
     .case-study-Story-Dogs h5 {
        grid-area: 7 / 1 / span 1 / span 8;
        padding: 2% 0 2% 0;
    }
     .case-study-Story-Dogs h4 {
        grid-area: 8 / 1 / span 1 / span 8;
        padding: 0 0 2% 0;
    }
    .case-study-Story-Dogs p{
        grid-area: 9 / 1 / span 1 / span 8;
        padding: 0 0 5% 0;
    }
    .case-study-Story-Dogs button  {
        grid-area: 10 / 1 / span 1 / span 2;
        
    }

}

@media only screen and (max-width: 767px) and (min-device-width:320px) {
    H1 {
        font-size: 2.25rem; 
 
     }
 
     H2 {
         font-size: 1.75rem;
     }
 
     H3 {
         font-size: 1.45rem;
     }
 
     H4 {
         font-size: 1.3rem;
     }
 
     H5 {
         font-size: 1.15rem;
     }
 
     H5-light {
         font-size: 1.15rem;
     }
 
     H6 {
 
     }
 
     H7 {
         font-size: 1.5rem;
     }

     p {
        font-size: 1rem;
     }

     p-light {
        font-size: 1rem;
     }
     

    .primary-button  .secondary-button{
        font-size: 1rem;
    
    }

     nav{
        padding: 2% 5% 2% 5%;
     }

     .nav-item {
         display: none;
     }
 
     #logo {
         display: none;
     }
 
     .logo-small {
         display: flex;
         align-items: center;
         justify-content: center;
     }
 
     #burger-menu {
         display: flex;
         align-items: center;
         justify-content: center;
     }
 


     .main-grid {
         display: grid;
         grid-template-columns: repeat(4,1fr);
         padding: 5% 5%;
     }
 
     .main-grid-border {
         display: grid;
         grid-template-columns: repeat(4,1fr);
         margin: 5% 5%;
 
     }

     .header-title {
        grid-area: 1 / 1 / span 1 / span 4;
        
     }
 
     .header-subtitle {
         grid-area: 2 / 1 / span 1 / span 4;
         line-height: 1.2em;
         
     }
 
     .header-body-text {
         grid-area: 3 / 1 / span 1 / span 4;
         line-height: 1.2em;
     }
 
    #hero-button {
        padding: 10% 5%;  
    }
     #li-button {
        font-size: 2rem;
    }

    #be-button {
        font-size: 2rem;
    }

 
     /* SAAS Card */
 
     .case-study-SAAS div {
         grid-area: 1 / 1 / span 4 / span 4;
         min-height: 200px;
        height: 30vh;
     }
 
     .case-study-SAAS h5  {
         grid-area: 7 / 1 / span 1 / span 4;
         padding: 2% 0 2% 0;
     }
 
     .case-study-SAAS h5 {
         grid-area: 7 / 1 / span 1 / span 4;
         padding: 2% 0 2% 0;
     }
 
     .case-study-SAAS h4 {
         grid-area: 8 / 1 / span 1 / span 4;
         padding: 0 0 2% 0;
     }
 
     .case-study-SAAS p  {
         grid-area: 9 / 1 / span 1 / span 4;
         padding: 0 0 5% 0;
     }
     .case-study-SAAS button  {
         grid-area: 10 / 1 / span 1 / span 4; 
         padding: 5% 2%;  
         }   
 
     /* SeedShare Card */
     .case-study-left div {
         grid-area: 1 / 1 / span 4 / span 4;
         min-height: 200px;
        height: 30vh;
     }
 
      .case-study-left h5 {
         grid-area: 7 / 1 / span 1 / span 4;
         padding: 2% 0 2% 0;
     }
 
      .case-study-left h5 {
         grid-area: 7 / 1 / span 1 / span 4;
         padding: 2% 0 2% 0;
     }
 
     .case-study-left h4 {
         grid-area: 8 / 1 / span 1 / span 4;
         padding: 0 0 2% 0;
     }
 
     .case-study-left p {
         grid-area: 9 / 1 / span 1 / span 4;
         padding: 0 0 5% 0;
     }
    .case-study-left button {
         grid-area: 10 / 1 / span 1 / span 4;
         padding: 5% 2%;  
     }
    
         /* StoryDogs Card */
     .case-study-Story-Dogs div{
         grid-area: 1 / 1 / span 4 / span 4;
         min-height: 200px;
        height: 30vh;
     }
 
     .case-study-Story-Dogs h5 {
         grid-area: 7 / 1 / span 1 / span 4;
         padding: 2% 0 2% 0;
     }
      .case-study-Story-Dogs h5 {
         grid-area: 7 / 1 / span 1 / span 4;
         padding: 2% 0 2% 0;
     }
      .case-study-Story-Dogs h4 {
         grid-area: 8 / 1 / span 1 / span 4;
         padding: 0 0 2% 0;
     }
     .case-study-Story-Dogs p{
         grid-area: 9 / 1 / span 1 / span 4;
         padding: 0 0 5% 0;
     }
     .case-study-Story-Dogs button  {
         grid-area: 10 / 1 / span 1 / span 4;
         padding: 5% 2%;  
     }
 
 /*footer  */
 .footer p {
    grid-area: 3 / 1 / span 1 / span 3;
    padding: 5% 0;
 }

.footer-Linkedin {
     font-size: 2rem;
     grid-area: 8 / 1 / span 1 / span 1;
     padding: 5% 0%;
 }

.footer-Behance {
    font-size: 2rem;
    grid-area: 8 / 2 / span 1 / span 1;
    padding: 5% 0%;
 }

 .footer ul {
  
    grid-area: 4 / 1 / span 4 / span 2;
}
}







